.sidenav a {
    color: #fff; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    overflow-x: hidden;
    font-size: 26px;
}

.sidenav a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.sidenav a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.sidenav {
    padding-bottom: 39%;
}
.glyphicon {
    font-size: 30px;
    margin-top: 20px;
}

.back{
    padding: 0;
    color: #000;
}

.content .them {
    margin-top: 20px;
}
.table {
    margin-top: 20px;
    table-layout:fixed;
    width:100%;
}

.table .bv {
    word-break:break;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: normal; 
}