.sidenav a {
    color: #fff; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    overflow-x: auto;
}

.sidenav a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.sidenav a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.sidenav {
    padding-bottom: 39%;
}
